﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meelo - AI-powered Productivity</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class=".col-md-12">
                    <div class="logo col-md-4">
                        <h1><a href="">meel<img src="~/Content/img/pin.png" alt="meelo - AI-powered productivity"></a></h1>
                    </div>
                    <div class="col-md-4">
                        @RenderSection("Menu", false)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="childcontainer">
        @RenderBody()
    </div>
    <footer>
        <div class="footer">&copy; Copyright Meelo Inc. @DateTime.Now.Year - @DateTime.Now.AddYears(1).Year</div>
    </footer>
   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
