﻿@{
    ViewBag.Title = "Home Page";
}
@section Menu{
    <div class="links span8">
        @Html.ActionLink("Sign Up", "signup", "Account", null, new { @class = "btn Rectangle signup blue2" })
        @Html.ActionLink("Sign In", "Index", "Account")
    </div>

}
<div class="register-container container">
    <div class="row">
        <div class="iphone span5">
            <!--<img src="assets/img/iphone.png" alt="" />-->
            <img src="~/Content/img/iphone.png" alt="">
        </div>
        <div class="register span5">
            <form action="" method="post">
                <h2>Be <span class="blue"><strong>Productive</strong></span></h2>
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" placeholder="enter your first name...">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" placeholder="enter your first name...">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="choose a username...">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="enter your email...">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="choose a password...">
                <button type="submit">Tell me more...</button>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquerybs")
@Scripts.Render("~/bundles/homescripts")