﻿
@{
    Layout = null;
}




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Error</title>
    <!-- Libs CSS -->
    <link type="text/css" media="all" href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Template CSS -->
    <link type="text/css" media="all" href="~/Content/ErrorStyle/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link type="text/css" media="all" href="~/Content/ErrorStyle/respons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

</head>
<body>

    <!-- Load page -->
    <div class="animationload" style="display: none;">
        <div class="loader" style="display: none;">
        </div>
    </div>
    <!-- End load page -->
    <!-- Content Wrapper -->
    <div id="wrapper">
        <div class="container">

            <!-- Info -->
            <div class="info">
                <h1>Oops!</h1>
                <h2>Where are we?</h2>
                <p>The page you are looking for was moved, removed, renamed or <br>might never existed.</p>
                <a href="http://meelo.io" class="btn">Go Home</a>
            </div>
            <!-- end Info -->
            <!-- Bear -->
            <div class="bear">
                <div class="zzz"></div>
            </div>
            <!-- end Bear -->

        </div>
        <!-- end container -->
    </div>
    <!-- end Content Wrapper -->
    <!-- Scripts -->
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>



</body>
</html>
