﻿/*
 *
 * Template Name: Fullscreen Responsive Register Template
 * Template URI: http://azmind.com
 * Author: Anli Zaimi
 * Author URI: http://azmind.com
 *
 */


body {
    background: #fff;
    text-align: left;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 16px;
    font-weight: 400;
}
.tab-content
{
    padding-top:20px;
}
#childcontainer
{
    min-height:400px;
}
.Rectangle {
    width: 100px;
    border-radius: 3px;
}

.lightgray {
    background-color: #e0e0e0;
}

.blue2 {
    background-color: #039be5;
}

.signup {
    font-family: HelveticaNeue,'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
}

.signin {
    width: 100px;
    height: 35px;
    font-family: HelveticaNeue;
    font-size: 13px;
    text-align: center;
    color: #039be5;
}

strong {
    font-weight: 700;
}

.red {
    color: #eb4141;
}

.blue {
    color: #039be5;
}

a:hover {
    text-decoration: none;
}

.header {
    margin: 0 auto;
    padding-bottom: 5px;
    background: #f8f8f8 url(img/pattern.jpg) left top repeat;
    border-top: 3px solid #039be5;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    margin-bottom:15px;
}

.logo h1 {
    padding-left: 50px;
    font-family: 'Roboto', cursive;
    font-size: 52px;
    font-weight: 400;
}

    .logo h1 a {
        color: #555;
    }

.links {
    text-align: right;
    padding-top: 25px;
}
.menu a {
    text-transform: uppercase;
    line-height: 20px;
    position: relative;
    /* display: block; */
    /* padding: 10px 15px; */
    outline: medium none !important;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 23px;
    color: #969494;
}
    .links a {
        display: inline-block;
        margin: 0px 0 0 20px;
        
    }

        .links a.home {
            background: url(img/pin.png) center center no-repeat;
        }

        .links a.blog {
            background: url(img/blog.png) center center no-repeat;
            margin-right: 50px;
        }
    .links .active {
        color: #081c22;
    }

.register-container {
    margin-top: 50px;
}

/* ----- iPhone ----- */

.iphone {
    text-align: right;
}

    .iphone img {
        margin-right: 10px;
    }

/* ----- Registration Form ----- */

.register form {
    padding: 20px 50px 40px 50px;
    background: #f8f8f8 url(img/pattern.jpg) left top repeat;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    text-align: center;
}

    .register form h2 {
        margin-bottom: 25px;
        padding-bottom: 15px;
        /* background: url(../img/pencil.png) 70px 6px no-repeat;*/
        border-bottom: 2px dotted #bbb;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }

    .register form input {
        width: 95%;
        height: 30px;
        background: #fcfcfc;
        border: 1px solid #ddd;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
        font-family: 'PT Sans', Helvetica, Arial, sans-serif;
        color: #888;
        font-size: 16px;
    }

        .register form input:focus {
            border: 1px solid #ccc;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    .register form label {
        margin: 7px 0 10px 5px;
        font-size: 16px;
        text-align: left;
    }

        .register form label span {
            font-style: italic;
        }

    .register form input:-moz-placeholder {
        color: #aaa;
    }

    .register form input:-ms-input-placeholder {
        color: #aaa;
    }

    .register form input::-webkit-input-placeholder {
        color: #aaa;
    }

    .register form button {
        cursor: pointer;
        width: 60%;
        height: 42px;
        margin-top: 25px;
        padding: 0;
        background: #eb4141;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 0;
        -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
        -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
        box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
        font-family: 'PT Sans', Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0,0,0,.1);
        -o-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -ms-transition: all .2s;
    }

        .register form button:hover {
            -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
            -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
            box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
        }

        .register form button:active {
            -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset, 0 5px 8px 0 rgba(0,0,0,.1) inset;
            -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset, 0 5px 8px 0 rgba(0,0,0,.1) inset;
            box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset, 0 5px 8px 0 rgba(0,0,0,.1) inset;
        }




footer {
    bottom: 0;
    width: 100%;
}

.footer {
    margin: auto;
    width: 400px;
    text-align: center;
    padding: 10px;
    color: #D3D3D3;
}

/* ----- Media queries ----- */

@media (max-width: 1200px) {

    .register form h2 {
        /* background: url(../img/pencil.png) 20px 6px no-repeat;*/
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .register form h2 {
        background: none;
    }
}

@media (max-width: 767px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

    .logo, .links {
        text-align: center;
    }

    .links {
        padding-bottom: 5px;
    }

    .logo h1 {
        padding-left: 0;
    }

    .links a.home {
        margin-left: 0;
    }

    .links a.blog {
        margin-right: 0;
    }

    .register-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .register form h2 {
        background: none;
    }

    .iphone img {
        display: none;
    }
}

@media (max-width: 480px) {

    .register form button {
        width: 97%;
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (min-width: 1200px) {
    .span5 {
        width: 470px;
    }
}

.iphone {
    float: left;
}

.register {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .span4 {
        width: 370px;
    }
}

@media (min-width: 1200px) {
    .span8 {
        width: 700px;
    }
}

label {
    display: block;
    font-weight: 400
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 19px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

.modal-content {
    background: #f6f6f6;
    padding-left: 5%;
    padding-right: 5%;
}

.modal-title {
    color: #039be5;
    font-family: HelveticaNeue;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.modal-header {
    border-bottom: none;
}

    .modal-header hr {
        background-color: #fff;
        border-top: 2px dotted #8c8b8b;
    }

.signindiv {
    padding: 10px;
    text-align: center;
}

.signin-content {
    background: #f6f6f6;
    padding: 20px;
    border-radius: 8px;
}

.signin-title {
    color: #039be5;
    font-family: HelveticaNeue;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.signin-header hr {
    background-color: #fff;
    border-top: 2px dotted #8c8b8b;
}

.signin-footer {
    padding: 10px
}

.signin-body {
    padding: 10px;
}

.modal-lg {
    width: 800px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
     border-bottom: 1px solid #dddddd; 

}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        background-color: #ffffff;
        border: none;
        font-weight: 600;
        border-bottom: 1px solid #000;
    }
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 0px 5px 0px;
    margin-left: 20px;
}
.form-horizontal{
    padding-top:30px;
}