﻿@model Com.Meelo.CoreLib.Organization

@*@using (Ajax.BeginForm("Add", "Organization", new AjaxOptions { OnSuccess = "AddOrgSuccess", OnFailure = "AddOrgFailure", LoadingElementId = "progress" }))
{*@
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.OrgId)
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Organization Name", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.CorporateName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CorporateName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Building", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.Building, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.Building, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Org Address", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("City", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Org State", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.State, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.State, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Postal Code", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.PostalCode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Org Country", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.Address.Country, new SelectList(ViewBag.Country, "Value", "Text", Model.Address.Country), new { @class = "form-control m-b-sm" })
           @* @Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Address.Country, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Lat", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.GpsLocation.Lat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.GpsLocation.Long, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Long", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address.GpsLocation.Long, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address.GpsLocation.Long, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Org Tenant", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.TenantId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TenantId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Contact Phone Number", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.OrgContact.BusinessPhones, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrgContact.BusinessPhones, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Contact Email", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.OrgContact.Mail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrgContact.Mail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            <input type="submit" value="Next" id="btnSubmit" class="btn btn-info" />
        </div>
    </div>
    <div id="progress" class="modal">
        <div class="center">
            <img src="~/Content/img/Spinner.gif" />
        </div>
    </div>
</div>
@*}*@
@Scripts.Render("~/bundles/unobtrusiveajax")
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBB4Z4NidYY8AgdXGVGR0d1hwa-kf9IPJU&libraries=places"></script>
<script type="text/javascript">
    function Next() {
        $('.nav-tabs > .active').next('li').find('a').trigger('click');

        $('.alert-success').hide();
        $('.alert-danger').hide();
    }
    function Prev() {
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
    }
    function AddOrgSuccess(response) {
        if (response.IsCallSuccessful) {
            $('.alert-danger').hide();
            $('.alert-success').show();
            $('.alert-success').html(response.Message);
            $('#SetupWorkspace>a').attr('data-toggle', 'tab');
            Next();
        }
        else {
            $('.alert-success').hide();
            $('.alert-danger').show();
            $('.alert-danger').html(response.Message);
        }
    }
    function AddOrgFailure(response) {
        $('.alert-danger').show();
    }
    $('#Address_State, #Address_Street,#Address_City').on('input', function () {
        codeAddress();
    })

    //Get Lat & Long from Google Api
    function initialize() {
        var address = (document.getElementById('Address_Street'));
        var autocomplete = new google.maps.places.Autocomplete(address);
        autocomplete.setTypes(['geocode']);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        });
    }
    function codeAddress() {
        geocoder = new google.maps.Geocoder();
        var address = $("#Address_Street").val() + ',+' + $("#Address_City").val() + ',+' + $("#Address_State").val()// + ',+' + $("#Address_Country").val()// document.getElementById("").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {

                //alert("Latitude: " + results[0].geometry.location.lat());
                //alert("Longitude: " + results[0].geometry.location.lng());
                $("#Address_GpsLocation_Lat").val(results[0].geometry.location.lat())
                $("#Address_GpsLocation_Long").val(results[0].geometry.location.lng())
            }

            else {
                //alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }
</script>
