﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <div class="links span8 menu">
        @Html.ActionLink("Organization", "Index", "Organization")
        @Html.ActionLink("Buildings", "Index", "Building", null, new { @class = "active" })
        @Html.ActionLink("Workspace", "Index", "Workspace")
        @Html.ActionLink("Logout", "SignOut", "Account", null, new { @class = "btn btn-default" })
    </div>

}
<div class="col-md-12">
    @if (ViewBag.Success == false)
    {
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-circle padding5px"></i>@Html.Raw(ViewBag.Message)
        </div>
    }
    else if (ViewBag.Success == true)
    {
        <div class="alert alert-success" role="alert">
            <i class="fa fa-check padding5px"></i>@Html.Raw(ViewBag.Message)
        </div>
    }
</div>
<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card-box">
            @*<div class="links span6"><button type="button" class="btn Rectangle signup blue2" data-toggle="modal" data-target="#myModal">Import-</button></div>*@
          
            <div id="Building" style="overflow-x:scroll;">
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
@using (Html.BeginForm("Upload", "Building", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Import Building</h4>
                    <hr />
                    <p>Select your Building file to import. We currently support CSV and Excel files.</p>
                </div>
                <div class="modal-body">
                    <input type="file" id="dataFile" name="upload" title="Choose a file to import…" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn Rectangle lightgray" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn Rectangle signup blue2" value="Import" />
                </div>
            </div>

        </div>
    </div>
    <div id="SettingModel" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Settings</h4>

                    <hr />
                </div>
                <div class="modal-body">
                    <div id="#SettingContent"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn Rectangle lightgray" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn Rectangle signup blue2" value="Save" />
                </div>
            </div>

        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryjt")
@Styles.Render("~/Content/jtable")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBB4Z4NidYY8AgdXGVGR0d1hwa-kf9IPJU&libraries=places"></script>
<style>
    .pac-container {
        z-index: 9999999999;
    }
</style>
<script>
    $(document).ready(function () {
        GeBuildingList();

    });

    function GeBuildingList() {
            $("#Building").jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                sorting: true,
                useBootstrap: true,
                defaultSorting: 'BuildingName ASC',
                actions: {
                    listAction: '@Url.Action("../Building/BuildingList")',
                    createAction: '@Url.Action("../Building/Add")',
                    updateAction: '@Url.Action("../Building/Update")',
                },
                fields: {
                    Id: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },

                    BuildingName: {
                        title: 'Building',
                        width: '20%'
                    },
                    Address_Street:
                    {
                        title: 'Address',
                        width: '23%',
                        display: function (data) {
                            if (data.record.Address.Street != null)
                                return data.record.Address.Street + ' ' + data.record.Address.City + ' ' + data.record.Address.State + ' ' + data.record.Address.Country;
                            else
                                return data.record.Address.City + ' ' + data.record.Address.State + ' ' + data.record.Address.Country;
                        }
                    },
                    Address_City: {
                        title: 'City',
                        width: '20%',
                        list: false
                    },
                    Address_State: {
                        title: 'State',
                        width: '7%',
                        list: false
                    },
                    Address_Country: {
                        title: 'Country',
                        width: '7%',
                        options: '@Url.Action("../Building/GetCountries")',
                        list: false
                    },
                    Address_PostalCode: {
                        title: 'PostalCode',
                        width: '7%',
                        list: false
                    },
                    Address_GpsLocation_Lat: {
                        title: 'Lat',
                        width: '7%',
                        list: false
                    },
                    Address_GpsLocation_Long: {
                        title: 'Long',
                        width: '7%',
                        list: false
                    },
                    DoFloorsStartAtGround: {
                        title: 'DoFloorsStartAtGround',
                        width: '7%',
                        options: {'true': 'Yes', 'false': 'No' },
                        list: false
                    },
                    LastUpdated: {
                        title: 'Last Modified',
                        type: 'date',
                        displayFormat: 'yy-mm-dd',
                        create: false,
                        edit: false,
                        width: '20%'
                    },
                    Created: {
                        title: 'Created',
                        type: 'date',
                        displayFormat: 'yy-mm-dd',
                        create: false,
                        edit: false,
                        width: '20%'
                    }
                    //,
                    //Actions: {
                    //    title: 'Actions',
                    //    width: '10%',
                    //    create: false,
                    //    edit: false,
                    //    display: function (data) {

                    //        return '<a href="#" onclick="GetSetting(' + + data.record.Id + ')">Settings</a>'

                    //    }
                    //}
                },
                formCreated: function (event, data) {
                    data.form.find("input").each(function () {
                        var name = $(this).attr('name').replace(/\_/g, '.')
                        $(this).attr('name', name);
                        var Id = $(this).attr('id').replace(/\-/g, '_')
                        $(this).attr('id', Id);

                    }

                    );
                    $("#Edit-Address_Country").attr('id', 'Edit_Address_Country');
                    $("#Edit_Address_Country").attr('name', 'Address.Country');
                },
                formSubmitting: function (event, data) {
                            return validate("Edit_BuildingName,Edit_Address_Street,Edit_Address_City,Edit_Address_State,Edit_Address_PostalCode,Edit_Address_Country,Edit_Address_GpsLocation_Lat,Edit_Address_GpsLocation_Long")
                },
                formClosed: function (event, data) {

                        },
                recordsLoaded(event, data) {
                    //jtable-toolbar-item-add-record
                    $('.jtable-edit-command-button,.jtable-toolbar-item-add-record').click(function (evt) {
                        $('#Edit_Address_State, #Edit_Address_Street,#Edit_Address_City').on('input', function () {
                                    codeAddress();
                                })
                    });
                    $('.jtable-toolbar-item-text').html("Add Building");
                    $('.jtable-toolbar-item-add-record').addClass("btn signup blue2");
                    $('.jtable-toolbar-item-add-record').css("background-color", "#039be5");
                    $('.jtable-toolbar-item-add-record').css("border-radius","4px");
                    $('.jtable-toolbar-item-icon').hide();


                        }
            });
            $('#Building').jtable('load');
        }
    function GetSetting(BuildingId) {
        $.ajax({
            url: "../Building/BuildingSetting?BuildingId=" + BuildingId,
            dataType: "html",
            type: "POST",
            contentType: "application/html; charset=utf-8",
            success: function (response) {
                $('#SettingModel .modal-body').html(response);
                $('#SettingModel').on('shown.bs.modal', function (e) {
                    $('#SettingModel .modal-title').html($("#Building_BuildingName").val()+ " Settings");
                })
                $('#SettingModel').modal('show');

            },
            failure: function (response) {
            }
        });
        };


        function validate(field) {
            var fields = field.split(',');
            var Isvalid = true;
            for (var i = 0; i < fields.length; i++) {
                var tabPane = $("#" + fields[i]).parent().parent().parent().parent().parent().parent();
                var tabId = tabPane.attr('id');
                if ($("#" + fields[i]).val().length == 0 || $("#" + fields[i]).val() == "" || $("#" + fields[i]).val() == " " || $("#" + fields[i]).val() == "None" || $("#" + fields[i]).val() == "0") {
                    $("." + fields[i] + "-validation-valid").show();
                    Isvalid = false;
                    $("#" + fields[i]).parent().parent().addClass("has-error");
                    $("#" + fields[i]).focus();

                    $('a[href="#' + tabId + '"][data-toggle="tab"]')
                        .parent()
                        .find('i')
                        .removeClass('fa-check')
                        .addClass('fa-times');
                    $('a[href="#' + tabId + '"][data-toggle="tab"]').trigger('click');
                }
                else {
                    $("#" + fields[i]).parent().parent().removeClass("has-error");
                    $('a[href="#' + tabId + '"][data-toggle="tab"]')
                        .parent()
                        .find('i')
                        .removeClass('fa-times')
                        .addClass('fa-check');
                    $("." + fields[i] + "-validation-valid").hide();
                }
            }
            return Isvalid;
        }
        function validate_email(field) {
            var pattern = /^([a-zA-Z0-9_+\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            var tabPane = $("#" + field).parent().parent().parent().parent().parent().parent();
            var tabId = tabPane.attr('id');
            if (pattern.test($("#" + field).val()) == true) {
                $("#" + field).parent().parent().removeClass("has-error");
                $('a[href="#' + tabId + '"][data-toggle="tab"]')
                    .parent()
                    .find('i')
                    .removeClass('fa-times')
                    .addClass('fa-check');
                $("." + field + "-validation-valid").hide();
                return true;
            } else {
                $("." + field + "-validation-valid").show()
                $("." + field + "-validation-valid").html("Please enter valid email");
                $("#" + field).parent().parent().addClass("has-error");
                $("#" + field).focus();

                $('a[href="#' + tabId + '"][data-toggle="tab"]')
                    .parent()
                    .find('i')
                    .removeClass('fa-check')
                    .addClass('fa-times');
                $('a[href="#' + tabId + '"][data-toggle="tab"]').trigger('click');
                return false;
            }
        }


        //Get Lat & Long from Google Api
        function initialize() {
            var address = (document.getElementById('Edit_Address_Street'));
            var autocomplete = new google.maps.places.Autocomplete(address);
            autocomplete.setTypes(['geocode']);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }
            });
        }
        function codeAddress() {
            geocoder = new google.maps.Geocoder();
            var address = $("#Edit_Address_Street").val() + ',+' + $("#Edit_Address_City").val() + ',+' + $("#Edit_Address_State").val()// + ',+' + $("#Edit_Address_Country").val()// document.getElementById("").value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    //alert("Latitude: " + results[0].geometry.location.lat());
                    //alert("Longitude: " + results[0].geometry.location.lng());
                    $("#Edit_Address_GpsLocation_Lat").val(results[0].geometry.location.lat())
                    $("#Edit_Address_GpsLocation_Long").val(results[0].geometry.location.lng())
                }

                else {
                    //alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }


</script>