﻿
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Com.Meelo.CoreLib.Workspace
@section Menu{
    <div class="links span8 menu">
        @Html.ActionLink("Organization", "Index", "Organization")
        @Html.ActionLink("Buildings", "Index", "Building")
        @Html.ActionLink("Workspace", "Index", "Workspace", null, new { @class = "active" })
        @Html.ActionLink("Logout", "SignOut", "Account", null, new { @class = "btn btn-default" })
    </div>

}
    <div class="col-md-12">
        @if (ViewBag.Success == false)
    {
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-circle padding5px"></i>@Html.Raw(ViewBag.Message)
        </div>
}
else if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <i class="fa fa-check padding5px"></i>@Html.Raw(ViewBag.Message)
    </div>
}
    </div>
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            @{
        var imageSource = Model.PhotoLinks == null || Model.PhotoLinks=="" ? "../../Content/img/empty.png" : Url.Content(Model.PhotoLinks);
            }
            @using (Html.BeginForm("AddUpdate", "Workspace", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OrgId)
        @Html.HiddenFor(model => model.ObjectId)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.LastUpdated)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                <label class="control-label col-md-3" for="Photo">Workpace Image</label>
                <div class="col-md-9">
                    <img src="@imageSource" alt="Photo" width="120" height="100" />
                    <input type="file" name="photo" />
                </div>
            </div>
            <div class="form-group row">
                @Html.Label("Workspace Name *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.PhotoLinks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhotoLinks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhotoLinks, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                @Html.Label("Resource Identity", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.IdmResourceIdentity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdmResourceIdentity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Building *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Building.Id, new SelectList(ViewBag.Buildings, "Id", "BuildingName", Model.Building.Id), new { @class = "form-control m-b-sm" })
                    @*@Html.DropDownList("Building.Id", (SelectList)ViewBag.Buildings)*@
                    @*@Html.DropDownList(Model.Building.Id, new SelectList(ViewBag.Buildings, "AccountID", "AccountName"))
                @Html.EditorFor(model => model.Building.Id, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Building.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Floor *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address.Floor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.Floor, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
            @Html.Label("Street *", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="form-group">
                @Html.Label("City *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("State *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address.State, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.State, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Postal Code *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address.PostalCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Country *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Address.Country, new SelectList(ViewBag.Country, "Value", "Text", Model.Address.Country), new { @class = "form-control m-b-sm" })
                    @*@Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Address.Country, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Area", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AreaInSqFt, new { htmlAttributes = new { @class = "form-control", @placeholder = "In SqFt" } })
                    @Html.ValidationMessageFor(model => model.AreaInSqFt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Workspace type *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EnumDropDownListFor(model => model.WorkspaceType, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkspaceType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Lat *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address.GpsLocation.Lat, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Long *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address.GpsLocation.Long, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Weblink", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.WebLink, new { htmlAttributes = new { @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.WebLink, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
            @Html.Label("Tags")
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Tags, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="form-group">
                @Html.Label("Occupancy Status", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OccupancyStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OccupancyStatus, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Capacity *", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Last renovated", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @*@Html.EditorFor(model => model.LastRenovated.Date, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.TextBoxFor(model => model.LastRenovated, "{0:yyyy-MM-dd}", new { @class = "form-control", maxlength = 10 })
                    @Html.ValidationMessageFor(model => model.LastRenovated, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Phone Number", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CommunicationInfo.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CommunicationInfo.TelephonyDetails, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Telephony Details", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CommunicationInfo.TelephonyDetails, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CommunicationInfo.TelephonyDetails, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Acesstype", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EnumDropDownListFor(model => model.AccessType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AccessType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Area in Sqft", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AreaInSqFt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AreaInSqFt, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Beacon Uid", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.BeaconUid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BeaconUid, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <label>
                        @Html.CheckBoxFor(model => model.IsAutoCheckinEnabled, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DisplayNameFor(model => model.IsAutoCheckinEnabled)
                        @Html.ValidationMessageFor(model => model.IsAutoCheckinEnabled, "", new { @class = "text-danger" })
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <label>
                        @Html.CheckBoxFor(model => model.IsAutoCheckoutEnabled, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DisplayNameFor(model => model.IsAutoCheckoutEnabled)
                        @Html.ValidationMessageFor(model => model.IsAutoCheckoutEnabled, "", new { @class = "text-danger" })
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <label>

                        @Html.CheckBoxFor(model => model.IsBlocked, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DisplayNameFor(model => model.IsBlocked)
                        @Html.ValidationMessageFor(model => model.IsBlocked, "", new { @class = "text-danger" })
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <label>
                        @Html.CheckBoxFor(model => model.IsHidden, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DisplayNameFor(model => model.IsHidden)
                        @Html.ValidationMessageFor(model => model.IsHidden, "", new { @class = "text-danger" })
                    </label>
                </div>
            </div>
            <div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <a href="/Workspace" class="btn Rectangle lightgray">
                        Cancel
                    </a>
                    <a href="/Workspace">
                        <input type="submit" id="btnSubmit" value="Save" class="btn Rectangle black" style="background-color:dodgerblue" />
                    </a>
                </div>
            </div>
        </div>
}

        </div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBB4Z4NidYY8AgdXGVGR0d1hwa-kf9IPJU&libraries=places"></script>
    <script>
    $(document).ready(function () {
        $('#Address_City, #Address_City').on('input', function () {
            codeAddress();
        })
    });
    $('#btnSubmit').click(function (evt) {

        if (validate("Name,Building_Id,Address_Floor,Address_City,Address_State,Address_PostalCode,Address_Country,Address_GpsLocation_Lat,Address_GpsLocation_Long,Capacity,WorkspaceType") == false) {
            evt.preventDefault();
        }
        else if ($("#LastRenovated").val() != "" && validate_date("LastRenovated") == false) {
                evt.preventDefault();
            }
    });
    function validate(field) {
        var fields = field.split(',');
        var Isvalid = true;
        for (var i = 0; i < fields.length; i++) {
            var tabPane = $("#" + fields[i]).parent().parent().parent().parent().parent().parent();
            var tabId = tabPane.attr('id');
            if ($("#" + fields[i]).val().length == 0 || $("#" + fields[i]).val() == "" || $("#" + fields[i]).val() == " " || $("#" + fields[i]).val() == "None" || $("#" + fields[i]).val() == "0") {
                $("." + fields[i] + "-validation-valid").show();
                Isvalid = false;
                $("#" + fields[i]).parent().parent().addClass("has-error");
                $("#" + fields[i]).focus();
                $('a[href="#' + tabId + '"][data-toggle="tab"]')
                    .parent()
                    .find('i')
                    .removeClass('fa-check')
                    .addClass('fa-times');
                $('a[href="#' + tabId + '"][data-toggle="tab"]').trigger('click');
            }
            else {
                $("#" + fields[i]).parent().parent().removeClass("has-error");
                $('a[href="#' + tabId + '"][data-toggle="tab"]')
                    .parent()
                    .find('i')
                    .removeClass('fa-times')
                    .addClass('fa-check');
                $("." + fields[i] + "-validation-valid").hide();
            }
        }
        return Isvalid;
    }
        function validate_date(field) {
            var tabPane = $("#" + field).parent().parent().parent().parent().parent().parent();
            var tabId = tabPane.attr('id');
            var pattern = /^((19|20)\d\d+)-(0[1-9]|1[012]+)-(0[1-9]|[12][0-9]|3[01])$/;
            if (pattern.test($("#" + field).val()) == true) {
                $("#" + field).parent().parent().removeClass("has-error");
                $('a[href="#' + tabId + '"][data-toggle="tab"]')
                    .parent()
                    .find('i')
                    .removeClass('fa-times')
                    .addClass('fa-check');
                $("." + field + "-validation-valid").hide();
                return true;
            }
            else {
                $("." + field + "-validation-valid").show()
                $("." + field + "-validation-valid").html("Date must be in format of yyyy-mm-dd");
                $("#" + field).parent().parent().addClass("has-error");
                $("#" + field).focus();

                $('a[href="#' + tabId + '"][data-toggle="tab"]')
                    .parent()
                    .find('i')
                    .removeClass('fa-check')
                    .addClass('fa-times');
                $('a[href="#' + tabId + '"][data-toggle="tab"]').trigger('click');
                return false;
            }
        }

    //Get Lat & Long from Google Api
    function initialize() {
        var address = (document.getElementById('Address_City'));
        var autocomplete = new google.maps.places.Autocomplete(address);
        autocomplete.setTypes(['geocode']);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        });
    }
    function codeAddress() {
        geocoder = new google.maps.Geocoder();
        var address =  $("#Address_City").val() + ',+' + $("#Address_State").val()// + ',+' + $("#Address_Country").val()// document.getElementById("").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {

                //alert("Latitude: " + results[0].geometry.location.lat());
                //alert("Longitude: " + results[0].geometry.location.lng());
                $("#Address_GpsLocation_Lat").val(results[0].geometry.location.lat())
                $("#Address_GpsLocation_Long").val(results[0].geometry.location.lng())
            }

            else {
                //alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }
    </script>