﻿
@{
    ViewBag.Title = "ImportWorkspaces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/modern")
@section Menu{
    <div class="links span8">
        @*@Html.ActionLink("Organization", "Index", "Organization")
            @Html.ActionLink("Users", "Index", "UserProfile")
            @Html.ActionLink("Workspace", "Index", "Workspace")*@
        @Html.ActionLink("Logout", "SignOut", "Account", null, new { @class = "btn btn-default" })
    </div>

}
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert" style="display:none">
            <i class="fa fa-exclamation-circle padding5px"></i><strong> Sorry, an error has occurred</strong><br /><p>Unfortunately an error has occurred during the processing of your page request. We apologize for the inconvenience, Please refresh the page or try again later.</p>
        </div>
        <div class="alert alert-success" role="alert" style="display:none">

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div role="tabpanel" class="tab-pane  fade in" id="tab2">
                @{Html.RenderPartial("../Workspace/ImportWorkspaceSuccessPartialView");}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


