﻿<div class="form-horizontal">

        <h2>Congratulations your tenant is setup, you can review and edit room location and use</h2>

        <div class="form-group">
            <div id="progress">
              
            </div>
            @Html.Label("Rooms :", new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <label id="lblRoomCount" style="padding-top: 7px;"></label>
            </div>
        </div>
    <div class="form-group">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <label class="control-label" style="text-align:left">
                Your Workspace rooms and equipment are setup
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            @*<input type="submit" value="Click here to review rooms" class="btn btn-primary" />*@
            @Html.ActionLink("Click here to review rooms", "Index", "Workspace", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax(
            {
                datatype: "json",
                type: "POST",
                url: "ExportWorkspacesfromO365",
                data: JSON,
                success: function (data) {
                    $("#lblRoomCount").html(data.Records.SuccessRecordsCount);
                    if (data.Records.IsCallSuccessful) {
                        $('.alert-success').show();
                        $('.alert-success').html('<p>' + data.Records.Message + '</p>' +'<p>' + data.Records.SuccessRecordsCount + ' Workspaces Added </p>' + '<p>' + data.Records.FailureRecordsCount + ' Failed</p>');
                    }
                    else {
                        $('.alert-danger').show();
                        $('.alert-success').html('<p>' + data.Records.SuccessRecordsCount + ' Workspaces Added </p>' + '<p>' + data.Records.FailureRecordsCount + ' Failed</p>');
                    }
                    $("#progress").hide();
                },
                error: function () { alert("Error"); }
            });
    });
</script>
<style>
    #progress {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #666;
        background-image: url('../Content/img/Spinner.gif');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
</style>