﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <div class="links span8 menu">
        @Html.ActionLink("Organization", "Index", "Organization")
        @Html.ActionLink("Buildings", "Index", "Building")
        @Html.ActionLink("Workspace", "Index", "Workspace", null, new { @class = "active" })
        @Html.ActionLink("Logout", "SignOut", "Account", null, new { @class = "btn btn-default" })
    </div>

}
    <div class="col-md-12">
        @if (ViewBag.Success == false)
    {
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-circle padding5px"></i>@Html.Raw(ViewBag.Message)
            @if (ViewBag.SuccessRecords != null)
        {
            <br /><p>@Html.Raw(ViewBag.SuccessRecords) Workspaces Added</p>
            <p>@Html.Raw(ViewBag.FailureRecords) Failed</p>
    }

        </div>
}
else if (ViewBag.Success == true)
{
        <div class="alert alert-success" role="alert">
            <i class="fa fa-check padding5px"></i>@Html.Raw(ViewBag.Message)
            @if (ViewBag.SuccessRecords != null)
    {
        <p>@Html.Raw(ViewBag.SuccessRecords) Workspaces Added Successfully</p>
        <p>@Html.Raw(ViewBag.FailureRecords) Failed</p>
}
        </div>
}
    </div>
<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Workspace</h2>
        <div class="card-box">
            <div class="links span6">
                @Html.ActionLink("Add Workspace", "Add", "Workspace", new { WorkspaceId = 0 }, new { @class = "btn signup blue2" })
                <button type="button" class="btn Rectangle signup blue2" data-toggle="modal" data-target="#myModal">Import</button>
            </div>
            <div id="Workspaces" style="overflow-x:scroll">
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
@using (Html.BeginForm("Upload", "Workspace", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Hidden("ReturnUrl", "Index")
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Import Workspace</h4>
                    <hr />
                    <p>Select your workspace file to import. We currently support CSV and Excel files.</p>
                </div>
                <div class="modal-body">
                    <input type="file" id="dataFile" name="upload" title="Choose a file to import…" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn Rectangle lightgray" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn Rectangle signup blue2" value="Import" />
                </div>
            </div>

        </div>
    </div>
    <div id="SettingModel" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Settings</h4>

                    <hr />
                </div>
                <div class="modal-body">
                    <div id="#SettingContent"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn Rectangle lightgray" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn Rectangle signup blue2" value="Save" />
                </div>
            </div>

        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryjt")
@Styles.Render("~/Content/jtable")
<script>
    $(document).ready(function () {
        GeWorkspaceList();
    });
    function GetSetting(WorkspaceId) {
        $.ajax({
            url: "../Workspace/WorkspaceSetting?WorkspaceId=" + WorkspaceId,
            dataType: "html",
            type: "POST",
            contentType: "application/html; charset=utf-8",
            success: function (response) {

                //$('#SettingModel').modal('show');
                //$("#SettingContent").html(response);
                $('#SettingModel .modal-body').html(response);
                $('#SettingModel').on('shown.bs.modal', function (e) {
                    $('#SettingModel .modal-title').html($("#Building_BuildingName").val()+ " Settings");
                })
                $('#SettingModel').modal('show');

            },
            failure: function (response) {
            }
        });
    }
    function GeWorkspaceList() {
        $("#Workspaces").jtable({
            title: '',
            paging: true,
            pageSize: 10,
            sorting: true,
            defaultSorting: 'FirstName ASC',
            actions: {
                listAction: '@Url.Action("../Workspace/WorkspaceList")'
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },

                Address:
                {
                    title: 'Address',
                    width: '23%',
                    display: function (data) {
                        if (data.record.Address.Street != null)
                            return data.record.Address.Street + ' ' + data.record.Address.City + ' ' + data.record.Address.State + ' ' + data.record.Address.Country;
                        else
                            return data.record.Address.City + ' ' + data.record.Address.State + ' ' + data.record.Address.Country;
                    }
                },
                Name: {
                    title: 'Name',
                    width: '20%'
                },
                IsBlocked: {
                    title: 'Status',
                    width: '7%'
                },
                LastUpdated: {
                    title: 'Last Modified',
                     type: 'date',
                    displayFormat: 'yy-mm-dd',
                    width: '20%'
                },
                Actions: {
                    title: 'Status',
                    width: '10%',
                    display: function (data) {

                        return '<a href="Workspace/Add?WorkspaceId=' + data.record.Id +'" >Settings</a>'

                    }
                }
            }
        });


        $('#Workspaces').jtable('load');

    }
</script>