﻿<p>You can setup your Meelo workspaces using one of the three options , click on any one for setup</p>
<div class="form-horizontal" style="border-bottom: 1px solid #dddddd; margin-bottom: 10px;">
    <div class="form-group">
        @Html.Label("O", new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @*<button type="button" class="btn btn-primary" onclick="Next()">Import from O365 Tenant</button>*@
            @Html.ActionLink("Export from O365 Tenant", "ExportWorkspaces", "Workspace", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("O", new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#WorkspaceImport">Import  from excel</button>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("O", new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.ActionLink("Add Manually", "Add", "Workspace", new { WorkspaceId = 0 }, new { @class = "btn btn btn-primary" })
        </div>
    </div>
    
</div>
<div class="form-group">
    <div class="col-md-offset-9 col-md-10">
        @Html.ActionLink("Finish Setup", "index", "Organization", new { WorkspaceId = 0 }, new { @class = "btn btn btn-info" })
    </div>
</div>
@using (Html.BeginForm("Upload", "Workspace", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Hidden("ReturnUrl", "../TenantOnboarding/Index")
    <!-- Modal -->
    <div id="WorkspaceImport" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Import Workspace</h4>
                    <hr />
                    <p>Select your workspace file to import. We currently support CSV and Excel files.</p>
                </div>
                <div class="modal-body">
                    <input type="file" id="dataFile" name="upload" title="Choose a file to import…" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn Rectangle lightgray" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn Rectangle signup blue2" value="Import" />
                </div>
            </div>

        </div>
    </div>
    
}