﻿
<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Filter for Room :", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.TextBox("LastName", "Conference Room, Meeting, Room", new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Rooms :", new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                    <span class="sr-only">20% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <label class="control-label" style="text-align:left">
                @Html.CheckBox("NotifyMe", true)Notify me over email when the on boarding is complete.
            </label>
        </div>
    </div>
    <div class="form-group">
        <p>
             Rooms and Equipment are getting loaded, this operation would take some time<br/>
            We will let you know once this is done , this is a background operation and you can perform other tasks and we will notify you once it is done
        </p>
    </div>
    </div>
