﻿@model Com.Meelo.CoreLib.Workspace

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.OrgId)
    @Html.HiddenFor(model => model.Id)
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-sm-8">
                <figure>
                    @if (Model.PhotoLinks == null || Model.PhotoLinks == "")
                    {
                        <img src="../Content/img/Homebg1.jpeg" alt="Photo" width="120" height="100" />
                    }
                    else
                    {
                    < img src = "../../uploads/@Url.Content(Model.PhotoLinks)" alt = "Photo" width = "120" height = "100" />
                    }
                    @*<figcaption>
                        <p>File size limit: 4 MB</p>
                    </figcaption>*@
                </figure>
                <span class="btn btn-default btn-file">
                    Browse <input type="file">
                </span>
                <span class="File-validation-valid errortext" style="display:none">File size must be 4 MB or less.</span>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.Label("Building Name")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Building.BuildingName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Address")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Workspace Name")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FriendlyName, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.PhotoLinks, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhotoLinks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhotoLinks, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.Label("Capacity")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
   
}

