﻿
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="signindiv">
            <!-- div content-->
            <div class="signin-content">
                <div class="signin-header">

                    <h4 class="signin-title">Sign up for Meelo</h4>
                    <hr />
                </div>
                <div class="signin-body">
                    @Html.ActionLink("Sign up with Office 365", "Index", "Organization", null, new { @class = "btn signup blue2" })
                </div>
                <div class="signin-footer">
                    <p>Already have an account?  @Html.ActionLink("Sign In", "Index", "Account")</p>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


