﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Menu{
    <div class="links span8">
        @Html.ActionLink("Organization", "Index", "Organization")
        @Html.ActionLink("Users", "Index", "UserProfile")
        @Html.ActionLink("Workspace", "Index", "Workspace")
        @Html.ActionLink("Logout", "SignOut", "Account", null, new { @class = "btn btn-default" })
    </div>

}
<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Users</h2>
        <div class="card-box">
            <div id="users"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryjt")
@Styles.Render("~/Content/jtable")
<script>
        $(document).ready(function () {
            GeUsersList();
        });
    function GeUsersList() {
        $("#users").jtable({
            title: '',
            paging: true,
            pageSize: 10,
            sorting: true,
            defaultSorting: 'FirstName ASC',
            actions: {
                listAction: '@Url.Action("../UserProfile/UsersList")'
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                //ProfilePhoto: {
                //    title: 'Photo',
                //    width: '6%',
                //    display: function (data) {
                //        if (data.record) {

                //            //if (data.record.PhotoPath == "")
                //                return '<img width="100%" src="../Content/img/icon-user-default.png" alt="Photo" />';
                //        //    else
                //        //        return '<img width="100%" src="../../uploads/' + data.record.PhotoPath + '" alt="Photo" onError="ShowDefaultImage(this)" />';
                //        //} else {
                //        //    return '<img width="100%" src="../Content/img/icon-user-default.png" alt="Photo" />';
                //        }
                //    }
                //},
                DisplayName: {
                    title: 'Name',
                    width: '23%'
                },
                MobilePhone: {
                    title: 'Contact',
                    width: '6%'
                },

                Mail: {
                    title: 'Email',
                    width: '13%'
                },
                DepartmentName: {
                    title: 'Department',
                    width: '13%'
                }
                ,
                Address: {
                    title: 'Address',
                    width: '18%',
                    display: function (data) {
                        if (data.record) {
                            return data.record.Address.City;
                        }
                        else {
                            return "";
                        }
                    }
                }

            }
        });


        $('#users').jtable('load');

    }
</script>

